# To run the application, copy this file to ".env" and set the appropriate values.
# Copy/compile this file with your MySQL credentials.

DB_NAME=uniride
DB_USER=root
DB_PASS=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_CHARSET=utf8mb4